<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Angular Test</title>
        <script src="Ang.js" ></script>
        <script src="Xpath.js"></script>
    </head>
    <body>
        <div id="Main" data-ng-app="MApp" data-ng-controller="MCon">
            <input type="text" ng-model="imie"/>
            <span>{{imie}}</span>
            <div lol-directive></div>
            <div ng-init="tix=['lol','lel','lul']">
                <input type="text" ng-model="price" />
                <input type="text" ng-model="taxes" />
                <span>{{ price - (price * taxes)}}</span>
                <div ng-repeat="x in tix">
                    <span>{{x}} = {{x.charCodeAt(1) * taxes}}</span>
                </div>
            </div>
        </div>
        <script>
            var app = angular.module("MApp",[]);
            app.controller("MCon",function($scope){
                $scope.imie = "test";
            })
            //var direc = angular.module("Dir",[]);
            app.directive("lolDirective",function(){
                return {
                    template:"LOL xd"
                };
            })
            
        </script>
    </body>
</html>
